@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #65ac2e;
  --color-primary-light: #a2bf2f;
  --color-primary-dark: #143d14;
  --color-secondary: #ff8400;
  --color-offwhite: #edeffa;
  --color-offwhite-light: #f1f5f9;
  --color-offwhite-dark: #e2e8f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
